body {
    height: 125vh;
    margin-top: 90px;
    overflow-x: hidden;
    font-family: roboto slab,ui-serif,new york,new york medium,new york large,new york small,new york extra large,"noto serif","droid serif",georgia,"pt serif",palatino,serif;
}

/*<----- FIRST SECTION STARTS HERE----->*/
/*<----- HEADER PART STARTS HERE----->*/
/*this is for all the starting section*/
.first-section {
    margin-right: auto;
    margin-left: auto;
}

header * {
    display: inline;
}

/*this is for the navbar section*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

/*this is for the navbar list*/
header li {
    margin: 20px;
    padding: 20px;
}

/*this is for the navbar elements*/
header li a {
    color: black;
    position: right;
    text-decoration: none;
    font-size:1.5vw;
    font-family: product sans,google sans,montserrat,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,roboto,helvetica neue,helvetica,arial,sans-serif;
}

/*this is for the navbar color effects when scrolling*/
.transparent-header {
    position: fixed;
    background-color: transparent;
    transition: all .6s;
    z-index: 1000;
    overflow: hidden;
}

/*this is for the navbar color effects when scrolling*/
.color-header {
    position: fixed;
    background-color: #ffe6e6;
    transition: all .6s;
    z-index: 1000;
    overflow: hidden;
}

/*this is for the sentence in the starting section*/
header strong span {
    height: 80px;
    margin-left: 40px;
    position: center;
    text-transform: uppercase;
    font-size: 1.5vw;
    font-family: product sans,google sans,montserrat,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,roboto,helvetica neue,helvetica,arial,sans-serif;
}
/*<----- HEADER PART ENDS HERE----->*/

/*<----- IMAGE PART AND ITS TEXT STARTS HERE----->*/
/*this is for the image in the starting section*/
.starting {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url(img/inicio.jpeg);
    background-size: cover;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-position: center;
    height: 890px;
}

/*this is for the first main sentence in the starting section*/
.initial-sentence {
    line-height: 1.5;
    font-size: 3.5vw;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
    font-family: libre baskerville,roboto slab,ui-serif,new york,new york medium,new york large,new york small,new york extra large,"noto serif","droid serif",georgia,"pt serif",palatino,serif;
}

.first-sentence {
    top: 450px;
    position: absolute;
    font-weight: 700;
}

/*this is for the second main sentence in the starting section*/
.second-sentence {
    top: 550px;
    position: absolute;
    font-weight: 100;
}

.CV {
    position: absolute;
    text-align: center;
    margin-top: 500px;
}
/*<----- IMAGE PART AND ITS TEXT ENDS HERE----->*/
/*<----- FIRST SECTION ENDS HERE----->*/


/*<----- SECOND SECTION STARTS HERE----->*/
h3 {
    width: 100%;
    padding: 50px;
    text-align: center;
}

h3:after {
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: rgb(250, 173, 173);
    width: 140px;
}

h3:before {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: rgb(250, 173, 173);
    width: 140px;
}

.subtitle {
    font-style: normal;
    font-family: inherit;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
}


.second-section {
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
    width: 750px;
}

.divited::before, .divited::after {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: rgb(250, 173, 173);
    width: 100%;
}

.one-line-divited::before {
    display: inline-block;
    margin: 30px;
    height: 1px;
    content: " ";
    text-shadow: none;
    text-align: center;
    background-color: rgb(250, 173, 173);
    width: 80%;
}

.text {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #3c4258;
    text-transform: initial;
    line-height: 1.8;
    padding-left: 75px;
    padding-right: 75px;
    text-align: justify;
    position: relative;
    width: auto;
}

.info-section{
    margin-top: 50px;
    text-align: justify;
    position: relative;
}

.images-style {
    position: static;
    background-position: center;
    padding-right: 85px;
    padding-left: 15px;
    width: 50%;
    max-height: 100%;
    margin-bottom: 150px;
    margin-top: 25px;
    text-align: center;
}

.page-footer {
    padding-top: 30px;
    background-color: rgb(240, 211, 211);
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
    clear: right;
}

.footer-text {
    margin-left: 55px;
    margin-right: 55px;
}

.testimonials {
    font-style: italic;
}


/*<----- SECOND SECTION ENDS HERE----->*/

/*this is for collumns and division*/
@media (min-width: 768px) {
    .col-lg-4, .col-lg-6, .col-md-6, .col-sm-12 {
        text-align: justify;
        position: relative;
    }
}

@media (min-width: 768px) {
    .col-sm-12 {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: left;
    }
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        position: relative;
        min-height: 1px;
    }
}


@media (max-width: 766px) {
    .images-style {
        float: none;
        padding-left: 200px;
        padding-right: 0px;
        width: 70%;
    }
}

@media (max-width: 991px) {
    .images-style {
        float: none;
        padding-left: 200px;
        padding-right: 0px;
        width: 70%;
        text-align: justify;
    }
}

@media (max-width: 991px) {
    .text {
        padding-right: 75px;
    }

    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        position: relative;
        min-height: 1px;
    }
}
/*thi is for change zise while the screen changes*/